<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Student Management</title>
  <link rel="stylesheet" href="/css/theme.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Varsha Maria Alex</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <%- navLink('/home', 'Home') %>
        <%- navLink('/about', 'About') %>
        <%- navLink('/htmlDemo', 'HTML Demo') %>
        <%- navLink('/students/add', 'Add Student') %>
      </ul>
      <ul class="navbar-nav ml-auto">
        <%- navLink('/students', 'Students') %>
        <%- navLink('/courses', 'Courses') %>
      </ul>
    </div>
  </nav>

  <!-- Main Page Content -->
  <div class="container mt-4">
    <%- body %>
  </div>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
