<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Course Name</th>
          <th>Course Code</th>
        </tr>
      </thead>
      <tbody>
        <% courses.forEach(function(course) { %>
        <tr>
          <td>
            <a href="/students?course=<%= course.courseId %>"
              ><%= course.courseDescription %></a
            >
          </td>
          <td>
            <a href="/course/<%= course.courseId %>"><%= course.courseCode %></a>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  
  <% if (!courses.length) { %>
  <div class="col-md-12 text-center">
    <strong><%= message %></strong>
  </div>
  <% } %>