<div class="table-responsive">
  <h2>Students</h2>
  <a href="/students/add" class="btn btn-success float-right mb-3">Add New Student</a>

  <% if (students && students.length > 0) { %>
  <table class="table">
      <thead>
          <tr>
              <th>Student Num</th>
              <th>Full Name</th>
              <th>Email</th>
              <th>Address</th>
              <th>Status</th>
              <th>Course ID</th>
              <th></th> 
          </tr>
      </thead>
      <tbody>
          <% students.forEach(function(student) { %>
          <tr>
              <td><a href="/student/<%= student.studentNum %>"><%= student.studentNum %></a></td>
              <td><%= student.firstName %> <%= student.lastName %></td>
              <td><%= student.email %></td>
              <td><%= student.addressStreet %>, <%= student.addressCity %>, <%= student.addressProvince %></td>
              <td><%= student.status %></td>
              <td><%= student.course %></td>
              <td>
                  <a href="/student/delete/<%= student.studentNum %>" class="btn btn-danger">Remove</a>
              </td>
          </tr>
          <% }) %>
      </tbody>
  </table>
  <% } else { %>
  <div class="alert alert-warning">No results</div>
  <% } %>
</div>
