<div class="row">
    <main class="col-md-12">
      <br />
      <h2>
        <%=student.firstName %> <%=student.lastName %> - Student:
        <%=student.studentNum %>
      </h2>
      <hr />
  
      <form method="post" action="/student/update">
        <input type="hidden" name="studentNum" value="<%=student.studentNum %>" />
  
        <fieldset>
          <legend>Personal Information</legend>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>First Name:</label>
                <input
                  class="form-control"
                  name="firstName"
                  type="text"
                  value="<%=student.firstName %>"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Last Name:</label>
                <input
                  class="form-control"
                  name="lastName"
                  type="text"
                  value="<%=student.lastName %>"
                />
              </div>
            </div>
          <div class="col-md-6">
              <div class="form-group">
                  <label>Email:</label>
                  <input
                      class="form-control"
                      name="email"
                      type="email"
                      value="<%=student.email %>"
                  />
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <label>Address (Street):</label>
                  <input
                      class="form-control"
                      name="addressStreet"
                      type="text"
                      value="<%=student.addressStreet %>"
                  />
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <label>Address (City):</label>
                  <input
                      class="form-control"
                      name="addressCity"
                      type="text"
                      value="<%=student.addressCity %>"
                  />
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <label>Address (Province):</label>
                  <input
                      class="form-control"
                      name="addressProvince"
                      type="text"
                      value="<%=student.addressProvince %>"
                  />
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <div class="form-check">
                      <input
                          class="form-check-input"
                          name="TA"
                          type="checkbox"
                          <%= student.TA ? 'checked' : '' %>
                      />
                      <label class="form-check-label">TA</label>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <label>Status:</label><br />
                  <div class="form-check">
                      <input
                          class="form-check-input"
                          name="status"
                          type="radio"
                          value="Full Time"
                          <%= student.status === 'Full Time' ? 'checked' : '' %>
                      />
                      <label class="form-check-label">Full Time</label>
                  </div>
                  <div class="form-check">
                      <input
                          class="form-check-input"
                          name="status"
                          type="radio"
                          value="Part Time"
                          <%= student.status === 'Part Time' ? 'checked' : '' %>
                      />
                      <label class="form-check-label">Part Time</label>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <label>Course:</label>
                  <select class="form-control" name="course">
                      <% for (var i = 1; i <= 11; i++) { %>
                          <option value="<%= i %>" <%= student.course == i ? 'selected' : '' %>>
                              <%= i %>
                          </option>
                      <% } %>
                  </select>
              </div>
          </div>
          </div>
        </fieldset>
  
        <hr />
  
        <input
          type="submit"
          class="btn btn-primary float-right"
          value="Update Student"
        /><br /><br /><br />
      </form>
    </main>
  </div>